@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}

body {
  background: linear-gradient(
    190deg,
    rgb(223, 241, 60) 0%,
    rgb(53, 245, 85) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(8, 0, 0);
  overflow: auto;
}

.App {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}


.show-todos {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 10px 40%;
  list-style: none;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
}

.show-todos a {
  text-decoration: none;
}


h5 {
  display: flex;
  justify-content: center;
}